.container {
    width: calc(100% - (var(--container-spacing) * 2)) !important;
    aspect-ratio: 16 / 9;
    padding: 5%;
    margin-bottom: 10rem;
    background: url("/bg-lines.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block {
    width: 50%;
    height: 50%;
    opacity: 0;
}

.block>div {
    width: 50%;
    color: white;
}

.block>div>* {
    transition: all .3s;
}

.block>div>div {
    opacity: 0;
}

.block>div:hover>img {
    transform: translateX(-40%);
}

.block>div:hover>div {
    transform: translate(40%, -50%);
    opacity: 1;
}

.block img {
    aspect-ratio: 16 / 10;
    border-radius: 1.6rem;
}

.container[data-animate="true"] .block {
    animation: anim-show 2s forwards ease-in;
}

.container[data-animate="true"] .block:nth-of-type(1) {
    animation-delay: 1s;
}

.container[data-animate="true"] .block:nth-of-type(4) {
    animation-delay: 3s;
}

.container[data-animate="true"] .block:nth-of-type(3) {
    animation-delay: 5s;
}

.container[data-animate="true"] .block:nth-of-type(2) {
    animation-delay: 7s;
}

.logo {
    width: 25%;
}

@keyframes anim-show {
    100% {
        opacity: 1;
    }
}