.container {
    width: calc(100% - 15%);
    aspect-ratio: 16 / 9;
    padding: 7.5%;
    background: linear-gradient(270deg, transparent, var(--bg-body) 80%);
}

.container>*:first-child {
    z-index: 1;
}

.container::before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    inset: 0;
    background: transparent;
}

.container[data-animate="true"]::before {
    animation: anim-hide-bg 5s forwards;
    animation-delay: 3s;
}

@keyframes anim-hide-bg {
    5% {
        opacity: 1;
        background: transparent;
    }

    90% {
        background: transparent;
    }

    100% {
        opacity: 1;
        background: url("/bg-lines.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container>div {
    transform: scale(.8) translateX(-15%);
    gap: 6rem;
    width: 75%;
    opacity: 0;
}

.curve {
    width: 30%;
    left: 80% !important;
}

.container[data-animate="true"]>div {
    animation: anim-opacity 5s forwards;
    animation-delay: 6s;
}

.container[data-animate="true"] .curve {
    animation: anim-center 8s forwards;
}

@keyframes anim-opacity {
    to {
        opacity: 1;
    }
}

@keyframes anim-center {
    0% {
        opacity: 1;
        transform: translate(-150%, -50%) scale(2);
    }

    10% {
        filter: blur(0px);
        transform: translate(-150%, -50%) scale(1.1);
    }

    50% {
        filter: brightness(0) saturate(100%) invert(59%) sepia(73%) saturate(337%) hue-rotate(329deg) brightness(98%) contrast(89%);
        transform: translate(-150%, -50%) scale(1.2);
    }

    90% {
        transform: translate(-150%, -50%) scale(1.2);
    }

    100% {
        opacity: 1;
        filter: brightness(0) saturate(100%) invert(59%) sepia(73%) saturate(337%) hue-rotate(329deg) brightness(98%) contrast(89%);
    }
}