.container {
    width: 85%;
    margin-inline: auto;
    margin-top: 20rem;
    --gap: 6rem;
    gap: var(--gap);
}

.container>* {
    width: calc(50% - var(--gap) / 2);
}

.tabs {
    border: 1px solid #CF7B60;
    border-radius: 1rem;
    overflow: hidden;
}

.tabs>* {
    cursor: pointer;
    transition: all .3s ease-in-out;
    flex: 1%;
    padding: 1rem 2.4rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.43rem;
}

.tabs>*[data-active="true"] {
    background-color: #CF7B60;
}

.right {
    gap: 5rem;
}