.navbar {
    position: absolute;
    top: 0;
    width: calc(100% - 8rem);
    padding: 2rem 4rem;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 0 97.5px;
    min-height: 126px;
}

button[data-is="toggler"] {
    display: none;
}

button[data-is="toggler"][data-toggled="true"] {
    transform: scale(0.8);
}

.brandImg {
    width: 19.5rem;
}

.right {
    gap: 4rem;
    align-items: center;
}

.navLink {
    font-size: 1.8rem;
    font-weight: 400;
    padding: .1rem;
    color: var(--color-white);
}

.navLink.active {
    color: var(--color-primary-1) !important;
    font-weight: 800;
}

.primary {
    background: #CF7B60;
    padding: 1rem 2.4rem;
    border-radius: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 1000px) {
    .navbar {
        gap: 2rem;
        flex-direction: column;
    }

    :root {
        --navbar-height: 18rem;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --navbar-height: 10rem;
    }

    .right {
        top: 100%;
        left: 0;
        padding: 10px 16px;
        padding-block: 36px;
        background: var(--bg-body);
        width: calc(100% - 20px);
        position: absolute;
        gap: 24px;
        flex-direction: column;
        transition: .3s all;
        opacity: 1;
    }

    .right[data-show="false"] {
        opacity: 0;
        transform: translateY(-200%);
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between !important;
    }

    button[data-is="toggler"] {
        transition: .3s all;
        display: block;
    }

    .navLink {
        font-size: 16px;
        line-height: 19.2px;
        margin-inline: 16px;
    }

    .primary {
        padding: 10px 40px !important;
        font-size: 14px !important;
        line-height: 18.9px !important;
        margin-right: auto;
        margin-top: 16px;
        font-family: var(--font-secondary) !important;
        font-weight: 600;
    }
}