@property --bg-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 180deg;
}

.container {
    --height: 70rem;
    gap: 1rem;
    height: var(--height);
    width: 100%;
    animation: anim-bg-gradient 3s forwards ease-in;
    animation-delay: 3s;
}

.container::after {
    content: "";

}

@keyframes anim-bg-gradient {
    20% {
        background: linear-gradient(var(--bg-angle), var(--bg-body) 0%, #4b383830 30%, #0b121950 80%);
    }

    60% {
        --bg-angle: 60deg;
        background: linear-gradient(var(--bg-angle), var(--bg-body) 0%, #4b383840 30%, #0b121900 100%);
    }

    90% {
        --bg-angle: 120deg;
        background: linear-gradient(var(--bg-angle), var(--bg-body) 0%, #0b121950 30%, #4b383830 80%);
    }

    100% {
        --bg-angle: 180deg;
        background: linear-gradient(var(--bg-angle), transparent 0%, var(--bg-body) 95%);
    }
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--height);
    background: url("/hero-top-bg.png");
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
}

.title {
    font-weight: 400;
    font-size: 2.8em;
    line-height: 3.08rem;
    letter-spacing: 0.6em;
    background: url("/icons/rectangle-white.svg");
    animation-delay: 1s;
    background-size: 10% 100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim-bg-move 3s forwards ease-in;
}

@keyframes anim-bg-move {
    100% {
        background-size: 150% 150%;
    }
}

.heading {
    font-weight: 600;
    font-size: 6em;
    font-family: var(--font-secondary);
    line-height: 6.6rem;
    letter-spacing: 0.01em;
}

.heading,
.subHeading {
    opacity: 0;
    animation: anim-opacity 1s forwards ease-in;
    animation-delay: 3.5s;
}

.subHeading {
    font-weight: 400;
    font-size: 2.4em;
    line-height: 2.88rem;
    letter-spacing: 0.01em;
    animation-delay: 7.5s !important;
}

@keyframes anim-opacity {
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 700px) {
    .container {
        font-size: 4px;
        text-align: center;
    }
}