.footer {
    width: 100%;
    padding: 1em 0;
    color: var(--color-white);
}

.footer>* {
    width: calc(100% - (var(--container-spacing) * 2)) !important;
    margin-inline: auto;
}

.top {
    margin: 10em auto;
    gap: 4rem;
}

.top>*:nth-child(1) {
    gap: 4em;
    width: 20%;
}

.top>*:nth-child(4) {
    width: 25%;
}

.brandImg {
    width: 19.5rem;
}

.tagline {
    margin-top: 2em;
    font-size: clamp(1em, 3vw, 16px);
    font-weight: 400;
    line-height: 1.92rem;
    letter-spacing: 0.01em;
    color: #ffffff99;
}

.socials {
    gap: 2em;
}

.title {
    font-size: 2em;
    font-weight: 500;
    line-height: 2.2rem;
}

.block {
    margin-top: 2em;
    gap: 1em;
}

.block>*:nth-child(2)>*:nth-child(1) {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 18.9px;
    color: #FFFFFFCC;
}

.block>*:nth-child(2)>*:nth-child(2) {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 2.16rem;
}

.link:first-child {
    margin-top: 1.5em;
}

.link {
    margin-top: 1em;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.92rem;
}

.map {
    /* width: 20rem; */
    margin-bottom: 1.5em;
}

.buttonPrimary {
    background: #CF7B60;
    font-family: Sora;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: 0.001em;
    text-align: center;
    padding: 1em 2.4em;
    border-radius: 1em;
    gap: 8px;
}

.hr {
    height: .08rem;
    background: linear-gradient(90deg, rgba(233, 147, 120, 0) 0%, #E99378 50%, rgba(233, 147, 120, 0) 100%);
}

.bottom {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 16.8px;
    padding: 1.5em 0;
}

@media screen and (max-width: 1500px) {
    .footer>* {
        width: 95%;
    }

    .top {
        gap: 1em;
    }

    .top>*:nth-child(4) {
        width: 30%;
    }
}

@media screen and (max-width: 1000px) {

    .top {
        flex-wrap: wrap;
        gap: 5em;
        justify-content: space-evenly;
    }

    .top>* {
        width: calc(50% - 5em) !important;
    }

    .imgMedium {
        width: 5em;
    }

    .brandImg {
        width: 25vw !important;
    }
}

@media screen and (max-width: 450px) {
    .top>* {
        width: calc(100% - 5em) !important;
    }

    .brandImg {
        width: 50vw !important;
    }

    img[data-icon] {
        width: 2rem;
    }
}