@property --bg-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 180deg;
}

.container {
    --height: 70rem;
    gap: 1rem;
    height: var(--height);
    width: 100%;
    background: linear-gradient(var(--bg-angle), transparent 0%, var(--bg-body) 95%);
}

.container[data-animate="true"] {
    animation: anim-bg-gradient 3s forwards ease-in-out;
    animation-delay: 3s;
}

@keyframes anim-bg-gradient {
    50% {
        --bg-angle: 90deg;
    }
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--height);
    background: url("/hero-top-bg.png");
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
}

.title {
    font-weight: 400;
    font-size: 2.8em;
    line-height: 3.08rem;
    letter-spacing: 0.6em;
    background: url("/icons/rectangle-white.svg");
    animation-delay: 1s;
    background-size: 10% 100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container[data-animate="true"] .title {
    animation: anim-bg-move 3s forwards ease-in;
}

@keyframes anim-bg-move {
    100% {
        background-size: 150% 150%;
    }
}

.heading {
    font-weight: 600;
    font-size: 6em;
    font-family: var(--font-secondary);
    line-height: 6.6rem;
    letter-spacing: 0.01em;
}

.heading,
.subHeading {
    opacity: 0;
}

.container[data-animate="true"] .heading,
.container[data-animate="true"] .subHeading {
    animation: anim-opacity 1s forwards ease-in;
    animation-delay: 3.5s;
}

.subHeading {
    font-weight: 400;
    font-size: 2.4em;
    line-height: 2.88rem;
    letter-spacing: 0.01em;
    animation-delay: 7.5s !important;
}

@keyframes anim-opacity {
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 700px) {
    .container {
        font-size: 4px;
        text-align: center;
    }
}